$color-primary: #20232a;
$color-secondary: #0096c7;
$color-accent: #fdfdfc;
$color-hover: #168aad;
$color-nav: #4a4e69;
$color-font: #14213d;
$color-plain: #fff;


$font-family: monospace;
$font-size: 1.3rem;
$main-size:2.3rem;
$secondary-size: 1.9rem;
$ternary-size: 1.3rem;

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Kalam:wght@700&display=swap');


//deafult reset

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    width: 100%;
    font-size: $font-size;
    font-family: -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serify;
    color: $color-font;
    background-color: $color-accent;

}

//container of the navbar

.container{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: $color-primary;
    padding: 2rem;
    box-shadow: 1px 1px 1px 6px $color-secondary;
    color: $color-plain;
    font-size: $main-size;
    
h1{
    
    span{
        color: #d3c0c7;
    }
}


    //menu section

    .menu-tabs{
        button{
            margin-right: 4rem;
            background-color: transparent;
            outline: none;
            border: none;
            font-size: $secondary-size ;
            cursor: pointer;
            border-bottom : 2px solid transparent;
            color: $color-plain;
          
        }

        button:hover{
            border-bottom: 2px solid $color-hover;
            transition: 0.4s all ease-in-out;
        }

    }
}

.home-container{
    margin-top: 10rem;
}

//form component 

.form-section{
text-align: center;
margin-left: auto;
margin-right: auto;
max-width: 50vw;
background-color: #d8e1e4;
padding: 8rem;
font-size: $secondary-size;
border-radius: 20px;
box-shadow: 0px 0px 10px black;
  transition: 0.9s all ease-in-out;
  .blink{
      height: 3.9rem;
      color:#112a31;
      font-family: cursive;
      text-transform: uppercase;
    font-family: 'Cedarville Cursive',
    cursive;
    font-family: 'Kalam',
    cursive;
  }
  h1{
      color:$color-nav;
  }

input{
 margin-top: 3rem;
    width: 20vw;
    height: 4vh;
    font-size: $font-size;
}
input:focus{
    background-color: $color-accent;
    color: $color-nav;
}
}


.form-section:hover{
    box-shadow: none;
    transition: 0.9s all ease-in-out;
}




//about me page

.about-section{
    max-width: 1100px;
    margin-top: 10rem;
    margin-bottom: 14rem;
   margin-left: auto;
   margin-right: auto; 
   h1{
       margin-bottom: 2rem;
   }
}


//footer-section
.footer-section{
margin-top: 15rem;
    display: flex;
    justify-content: space-around;
    background-color: $color-primary;
    color:$color-plain;
    padding: 7rem;
    font-size: $secondary-size;

    h4{
        margin-bottom: 1rem;
        color: #ff237e;
    }
    p, a{
        margin-top: 0.2rem;
        color:$color-plain;
        text-decoration: none;
        display: block;
        font-size: $ternary-size;
            letter-spacing: 0.1rem;
    
    }
    a:hover{
        color: $color-hover;
    }
    .third{
        max-width:29vw;
    }

    
}

    //loading text

   .Loading-text{
    margin: 20vh 0 0 20vw;
       
       font-size: 6rem;
   }



   //main drinks dislplay section

   .drinks-panel{
       display: flex;
       flex-wrap: wrap;
       margin-top: 7rem;
       text-align: center;
       .drinks-component{
           margin: 2rem;
           background-color: white;
           height: 59vh;
           width: 30vw;
           margin: 5rem auto;
            box-shadow: 1px 1px 10px black;
          transition: 0.7s all ease-in-out;
           img{
               width: 100%;
           }
       }
button{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.3rem;
    background-color: $color-secondary;
    color:$color-plain;
    padding: 1rem;
    width: 8rem;
    margin-top: 2rem;
}
button:hover{
    background-color: $color-hover;
    transition: 0.5s all ease-in-out;
}
     h4{
         color: gray;
         font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     }  
   }

 


   .drinks-component:hover {
       box-shadow: 1px 1px 30px black;
       transition: 0.7s all ease-in-out;
    transform: scale(1.09);      
   }

   .results{
       width: 60vw;
       margin-left: auto;
       margin-right: auto;
       margin-top: 15rem;
       img{
           width: 60vw;
       }
   }

   .form{
       margin-top: 4rem;
   }



   //main -errro page

   .error-page{
       width: 50vw;
       margin: 8rem auto 0 auto;
       color: black;
       
       img{
           width: 50vw;
       }
   }