@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Kalam:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100%;
  font-size: 1.3rem;
  font-family: -apple-system,
 BlinkMacSystemFont,
 Segoe UI,
 Roboto,
 Oxygen,
 Ubuntu,
 Cantarell,
 Fira Sans,
 Droid Sans,
 Helvetica Neue,
 sans-serify;
  color: #14213d;
  background-color: #fdfdfc;
}

.container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #20232a;
  padding: 2rem;
  -webkit-box-shadow: 1px 1px 1px 6px #0096c7;
          box-shadow: 1px 1px 1px 6px #0096c7;
  color: #fff;
  font-size: 2.3rem;
}

.container h1 span {
  color: #d3c0c7;
}

.container .menu-tabs button {
  margin-right: 4rem;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.9rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  color: #fff;
}

.container .menu-tabs button:hover {
  border-bottom: 2px solid #168aad;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.home-container {
  margin-top: 10rem;
}

.form-section {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  background-color: #d8e1e4;
  padding: 8rem;
  font-size: 1.9rem;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  -webkit-transition: 0.9s all ease-in-out;
  transition: 0.9s all ease-in-out;
}

.form-section .blink {
  height: 3.9rem;
  color: #112a31;
  font-family: cursive;
  text-transform: uppercase;
  font-family: 'Cedarville Cursive',
 cursive;
  font-family: 'Kalam',
 cursive;
}

.form-section h1 {
  color: #4a4e69;
}

.form-section input {
  margin-top: 3rem;
  width: 20vw;
  height: 4vh;
  font-size: 1.3rem;
  border-radius: 5px;
}

.form-section input:focus {
  background-color: #fdfdfc;
  color: #4a4e69;
}

.form-section:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.9s all ease-in-out;
  transition: 0.9s all ease-in-out;
}

.about-section {
  max-width: 1100px;
  margin-top: 10rem;
  margin-bottom: 14rem;
  margin-left: auto;
  margin-right: auto;
}

.about-section h1 {
  margin-bottom: 2rem;
}

.footer-section {
  margin-top: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #20232a;
  color: #fff;
  padding: 7rem;
  font-size: 1.9rem;
}

.footer-section h4 {
  margin-bottom: 1rem;
  color: #ff237e;
}

.footer-section p, .footer-section a {
  margin-top: 0.2rem;
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}

.footer-section a:hover {
  color: #168aad;
}

.footer-section .third {
  width: 29vw;
}

.Loading-text {
  margin: 20vh 0 0 20vw;
  font-size: 6rem;
}

.drinks-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 7rem auto 0 auto;
  text-align: center;
}

.drinks-panel .drinks-component {
  margin: 2rem;
  background-color: white;
  padding-bottom: 1rem;
  margin: 5rem auto;
  -webkit-box-shadow: 1px 1px 10px black;
          box-shadow: 1px 1px 10px black;
  -webkit-transition: 0.7s all ease-in-out;
  transition: 0.7s all ease-in-out;
}

.drinks-panel .drinks-component img {
  width: 40vw;
}

.drinks-panel button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.3rem;
  background-color: #0096c7;
  color: #fff;
  padding: 1rem;
  width: 8rem;
  margin-top: 2rem;
}

.drinks-panel button:hover {
  background-color: #168aad;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.drinks-panel h4 {
  color: gray;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.drinks-component:hover {
  -webkit-box-shadow: 1px 1px 30px black;
          box-shadow: 1px 1px 30px black;
  -webkit-transition: 0.7s all ease-in-out;
  transition: 0.7s all ease-in-out;
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}

.results {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15rem;
}

.results img {
  width: 60vw;
}

.form {
  margin-top: 4rem;
}

.error-page {
  width: 50vw;
  margin: 8rem auto 0 auto;
  color: black;
}

.error-page img {
  width: 50vw;
}

.individual-item {
  text-align: center;
  margin-top: 4rem;
}

.individual-item button {
  border: none;
  background-color: #aa1553;
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 10px;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.individual-item button:hover {
  background-color: #ff237e;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.individual-item .single-item {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.individual-item .single-item img {
  width: 40vw;
  border-radius: 1rem;
  -webkit-transition: 0.6s all ease-in-out;
  transition: 0.6s all ease-in-out;
}

.individual-item .single-item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.6s all ease-in-out;
  transition: 0.6s all ease-in-out;
}

.individual-item .single-item .details {
  margin-top: 2rem;
}

.individual-item .single-item p {
  line-height: 2rem;
  margin: 2rem;
}

.individual-item .single-item span {
  background-color: #aa1553;
  color: white;
  border-radius: 10px;
  padding: 0.2rem;
}

.individual-item .single-item h4 span {
  background-color: transparent;
  color: green;
}

@media all and (max-width: 680px) {
  .container {
    display: block;
    width: 100%;
    padding: 2rem 0 0 0;
    margin-left: auto;
    margin-right: auto;
  }
  .container h1 {
    text-align: center;
  }
  .container .menu-tabs button {
    width: 3rem;
    text-align: center;
    font-size: 0.9rem;
    text-align: center;
    margin-left: 40vw;
    margin-right: auto;
  }
  .form-section {
    font-size: 0;
    padding: 2rem;
    width: 90vw !important;
  }
  .form-section h1 {
    font-size: 1.3rem;
  }
  .form-section label {
    font-size: 1rem;
    line-height: 1rem;
  }
  .form-section input {
    width: 35vw;
  }
  .drinks-component {
    width: 50vw;
    height: auto;


  }
  .individual-item {
    display: block;
    width: 100%;
    margin-top: 5rem;
    font-size: 1rem;
  }
  .individual-item button {
    font-size: 1rem;
  }
  .details {
    display: block;
    margin: 0;
  }
  .single-item {
    display: block !important;
  }
  .single-item img {
    height: 40vh;
    width: 65vw !important;
    margin: 0;
  }
  .footer-section {
    display: block;
    text-align: center;
    font-size: 1.1rem;
    padding: 1rem;
  }
  .footer-section .third {
    width: 100% !important;
  }
  .footer-section h4 {
    margin-top: 1rem;
    text-align: center;
  }
  .footer-section a, .footer-section p {
    font-size: 0.6rem;
  }
}
/*# sourceMappingURL=style.css.map */